*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    /*background-color: antiquewhite;*/
    background-image: url(../assets/perro-pata.jpg);
    height: 100vh;
    align-items: center;
}

.box .image img{
    height: 500px;
    width: 400px;
    margin: 20px 20px 20px 20px;
}
/*.box{
   
}*/
.box .btn{
   height: 40px;
   width: 400px;
   margin-left: 20px;
   margin-top: auto;
    font-size: 20px;
    background-color: rgb(180, 70, 116);
    color: black;

}